
footer {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: black;
    justify-content: space-between;
    color: white;
    padding: 0 2rem;
    font-family: 'Raleway';
    flex-shrink: 0;
}

.credits a {
    color: inherit;
}