@font-face {
    font-family: "Cormorant Garamond";
    src: url("./assets/fonts/CormorantGaramond-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body, html, #root {
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.link-reset {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}