@font-face {
    font-family: "Cormorant Garamond";
    src: url("./assets/CormorantGaramond-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/Raleway-VariableFont_wght.ttf");
}